body {
  --block-width: 25px;
  --pinyin-font-size: 15px;
  --character-font-size: 23px;
}

@media (min-width: 1024px) {
  #container {}
}

.md-toolbar .md-toolbar-container > .md-button:first-child {
  margin-right: 5px;
}

.has-bottom-bar .md-dialog-container,
.has-bottom-bar .md-overlay {
  height: calc(100% - 35px);
}


@media print
{
  .md-toolbar { display: none !important; }
  audio, .translation { display: none !important; }
  #container, .content, .print-container {
    display: block !important;
    overflow: initial !important;
    will-change: initial !important;
  }
  .no-print {
    display: none !important;
  }
}

html, body {
  width: 100%;
  height: 100%;
}

#container {
  height: 100%;
  display: flex;
  flex-flow: column;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.content {
  overflow: hidden;
  display: flex;
  min-height: calc(100% - 48px);
}

.line{
  clear: both;
}

.panel-heading .btn {
  color: #fff !important;
}

.block {
  display: inline-block;
  padding: 10px 5px;
  min-width: var(--block-width);
  text-align: center;
}

.block:hover {
  background: #fff4c5;
}

.block .remove {
  display: none;
  position: absolute;
  top: 0;
  right: 2px;
  font-size: 10px;
}

.block:hover .remove {
  display: block;
}

.pinyin input,
.pinyin .div-input,
.pinyin span {
  min-height: 0;
  background: #fff;
  font-size: var(--pinyin-font-size);
  min-width: var(--block-width);
  width: 100%;
  border: 0;
  text-align: center;
  margin: auto;
  float: none;
}

.character input,
.character .div-input,
.character span {
  min-height: 0;
  font-size: var(--character-font-size);
  height: var(--character-font-size);
  min-width: var(--block-width);
  border: 0;
  width: 100%;
  text-align: center;
  margin: auto;
  float: none;
}

.modal-body textarea {
  height: 150px;
}

.bs-callout {
  padding: 0 10px;
  border-left-width: 4px;
}

.autocomplete {
  background: #fff;
}

.autocomplete a {
  font-size: 16px;
}

.autocomplete a.selected {
  font-weight: bold;
}

.md-list-item:hover {
  background-color: rgba(153, 153, 153, 0.2);
  cursor: pointer;
}

.md-menu-content {
  max-height: 40vh !important;
}
