:root {
  --block-width: 25px;
}

#container {
    width: 1024px;
    margin: auto;
}

.line {
    clear: both;
}

.block {
    float: left;
    padding: 5px;
    min-width: var(--block-width);
    text-align: center;
}

.block:hover{
    background: #ffeb9a;
}

.pinyin {
    margin-bottom: 2px;
}

.pinyin input{
    background: #fff;
    font-size: 16px;
    height: 22px;
    min-width: var(--block-width);
    border: 0;
    width: 100%;
    text-align: center;
    margin: auto;
}

.character input{
    font-size: 24px;
    font-weight: bold;
    height: 34px;
    min-width: var(--block-width);
    border: 0;
    width: 100%;
    text-align: center;
    margin: auto;
}

.modal-body textarea{
    height: 150px;
}