<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title">Simple Pinyin Editor</h3>
        <a href class="btn btn-success" ng-click="addFile()">New File</a>
        <a href="/auth/logout" class="btn btn-danger"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
    </div>

    <div class="panel-body">
        <table class="table table-striped table-bordered table-hover table-condensed">
        <tr>
            <th>File</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="file in files">
            <td>
                <a href="#files/file/{{ file }}">{{ file }}</a>
            </td>
            <td></td>
        </tr>
        <table>
    </div>
</div>