<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{filename}}</h3>

    <a class="btn btn-success" ng-click="save()">
      <i class="glyphicon glyphicon-save-file"></i> Save
    </a>

    <div uib-dropdown class="btn-group">
      <a href class="btn btn-info" uib-dropdown-toggle>
        <i class="glyphicon glyphicon-print"></i> Print
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
        <li>
          <a href="#files/print/{{ filename }}?size=normal">
              Normal
          </a>
        </li>
        <li>
          <a href="#files/print/{{ filename }}?size=larger">
              Larger
          </a>
        </li>
      </ul>
    </div>

    <a href="/auth/logout" class="btn btn-danger"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
  </div>

  <div class="panel-body larger-print" dnd-list="file.lines">

    <div ng-repeat="(lineIndex,line) in file.lines track by $index" class="line bs-callout bs-callout-primary" dnd-draggable="line"
      dnd-moved="file.lines.splice($index, 1)" dnd-effect-allowed="move">

      <div ng-repeat="(blockIndex,block) in line" class="block">

        <a href class="remove" ng-click="removeBlock(line, blockIndex)">X</a>

        <div class="pinyin">
          <input ng-model="block.p" ng-pinyin pu-elastic-input autocomplete autocomplete-suggestions="autocompleteSuggestions" autocomplete-output="block.c"
            autocomplete-callback="pinyinAutocomplete" />
          <div class="autocomplete">
            <a href ng-repeat="item in autocompleteSuggestions.items track by $index" ng-click="pinyinSelectAutocomplete(block, item.ideogram, autocompleteSuggestions)"
              ng-class="{'selected': $index == autocompleteSuggestions.selected}">
                {{ item.ideogram | ideogram }}
            </a>
          </div>
        </div>

        <div class="character">
          <input ng-model="block.c" pu-elastic-input/>
        </div>
      </div>

      <div uib-dropdown class="btn-group">
        <a href class="btn btn-default" uib-dropdown-toggle>Options <span class="caret"></span></a>
        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
          <li>
            <a href ng-click="addBlock(line)">
              <i class="glyphicon glyphicon-plus"></i> Add Empty Block
            </a>
          </li>
          <li>
            <a href ng-click="convertToPinyin(line)">
              <i class="glyphicon glyphicon-font"></i> Convert to Pinyin
            </a>
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <a href ng-click="openModalClipBoard01('', line, lineIndex)">
              <i class="glyphicon glyphicon-paste"></i> Paste (pinyin + space + hanzi)
            </a>
          </li>
          <li>
            <a href ng-click="openModalClipBoard02('', line, lineIndex)">
              <i class="glyphicon glyphicon-paste"></i> Paste (2 lines)
            </a>
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <a href ng-click="removeLine(lineIndex)">
              <i class="glyphicon glyphicon-trash"></i> Remove line
            </a>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>
    <div class="footer">
      <a class="btn btn-success" ng-click="addLine()">+ line</a>
    </div>
  </div>
</div>
