<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{filename}}</h3>
        <a class="btn btn-success" ng-click="save()">Save</a>
  </div>
  <div class="panel-body">
    
    <div ng-repeat="(lineIndex,line) in file.lines" class="line">
    
        <div ng-repeat="block in line" class="block">
            
            <div class="pinyin">
                <input ng-model="block.p" ng-pinyin pu-elastic-input/>
            </div>
            
            <div class="character">
                <input ng-model="block.c" pu-elastic-input/>
            </div>
        </div>
    
        <span uib-dropdown>
        <a href class="btn" uib-dropdown-toggle>+ block</a>
        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
            <li>
                <a href ng-click="addBlock(line)">Empty</a>
            </li>
            <li>
                <a href ng-click="openModal('', line, lineIndex)">Paste</a>
            </li>
        </ul>
        </span>
    
    </div>
    <div class="clearfix"></div>
    <a class="btn" ng-click="addLine()">+ line</a>
  </div>
</div>