module.exports = {
  google_client_id: '',
  google_client_secret: '',
  baidu_client_id: '',
  baidu_client_secret: '',
  jwt_key: 'jwt_key',
  base_url: 'http://localhost:9090',
  front_url: 'http://127.0.0.1:8090',
  storage_path: '',
  redis_host: 'pinyin_redis',
  database_port: '3306',
  database_name: 'pinyin',
  database_host: 'pinyin_db',
  database_user: 'docker',
  database_pass: 'docker',
  sentry_dsn: '',
  files_adapter: 'local', // local or s3
  aws_region: '',
  aws_access_key_id: '',
  aws_secret_access_key: '',
  aws_s3_bucket: '',
  elasticsearch_host: '',
  elasticsearch_port: '',
};
